@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #000;
    --black: 
}
body{
    font-family: 'Montserrat', sans-serif;
}
/******** utilities **********/
img{
    height: 300px;
    width: 400px;
}
a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
}
/*********header *********/
header{
    background: url("img/vector1.png");
    background-size: 100% 100%;
    height: 100vh;
}
header h2{
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo{
    font-family: 'Pirata One', cursive;
}
/*****section *****/
.section{
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.big-text{
    flex: 1;
}
.big-text a{
    font-weight: 500;
    font-size: 2rem;
}
.img{
    flex: 1;
}
.links{
    list-style: none;
    display: flex;
    position: absolute;
    height: max-content;
    width: max-content;
    transform-origin: right top;
    transform: rotate(90deg);
    right: 20px;
    top: 80%;
}
.link{
    margin: 0 20px;
}

/*********section1*********/
.section1{
    background: url("img/vector2.png");
    background-size: 100% 100%;
}
.links2{
    transform-origin: left top;
    left: 40px;
    top: 110%;
}
.section1 .img{
    display: flex;
    justify-content: flex-end;
}
.section1 .big-text{
    display: flex;
    justify-content: flex-end;
    margin: 0 40px;
}
/********ellipses*********/
.ellipse1{
    position: absolute;
    bottom: 0;
    left:200px;
    height: 200px;
    width: auto;
}
.ellipse2{
    position: absolute;
    bottom: -200px;
    right:200px;
    height: 200px;
    width: auto;
}
/*******************/
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
/******** cursor *********/
.cursor{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    z-index: 2;
    top: 200px;
    pointer-events: none;
}
.cursor::after{
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    z-index: 2;
    top: -7px;
    left: -7px;
    opacity: 0.5;
    animation: cursor 0.6s infinite alternate;
}
@keyframes cursor{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1.1);
    }
}